/* --------------------------------------------------
   GLOBAL LAYOUT (CSS GRID)
-------------------------------------------------- */
body{
  background-color: #f4f4f4;
  color:#333;
  font-family: Arial, sans-serif;
  font-size:15px;
  margin:0;
  padding:0;
  line-height: 1.5;

  /* Grid general layout */
  min-height: 100vh;
  display: grid;
  grid-template-columns: 220px minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "sidebar main"
    "sidebar main"
    "sidebar footer";

  /* grid animation to move along with sidebar*/
  transition: grid-template-columns 1s ease-in-out;
}



/* Collapse mode (closed sidebar) */
body.sidebar-collapsed .sidebar {
  transform:translateX(-100%);
}
body.sidebar-collapsed {
  grid-template-columns: 0 minmax(0, 1fr);
}


/* --------------------------------------------------
   SIDEBAR
-------------------------------------------------- */
.sidebar {
  grid-area: sidebar;
  border: 2px solid black; 
  background-color: rgb(2, 0, 145);
  color:white;
  width: 220px;
  padding: 20px;
  box-sizing: border-box;

  /* open/close Animation */
  transition: transform 1s ease-in-out;
}

.logo{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 55px;
  border-bottom: 2px solid white;
  color: white;
}

.menu li {
  margin-bottom:50px;
  list-style: none;
  text-align: start;
}

.menu a {
  color: lightgray;
  text-decoration: none;
  font-size: 15px;
}

.menu li a:hover{
  padding: 15px;
  border-radius: 6px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.2s ease;
}

/* open/close sidebar button */
.sidebar-toggle {
  margin-right: 10px;
  padding: 8px 10px;
  border: 1px solid black;
  background-color: rgb(2, 0, 145);
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.sidebar-toggle:hover {
  background-color: rgb(2,0,200);
}


/* --------------------------------------------------
   MAIN CONTENT
-------------------------------------------------- */
.main-content{
  grid-area: main;
  padding: 20px;

  /* Innner content centered */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Top-bar and table width limit for centering */
.top-bar,
.course-list {
  width: 100%;
  max-width: 900px;
}

.top-bar {
  margin-bottom: 20px;
  position: relative;
}


/* --------------------------------------------------
   SEARCH BAR + FILTERS
-------------------------------------------------- */
.search-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.search-bar {
  padding: 10px;
  border: 1px solid black;
}

.search-btn {
  padding: 10px 15px;
  border-radius: 1px solid black;
  background-color: rgb(2, 0, 145);
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.search-btn:hover {
  background-color: rgb(2,0,200);

}

/* Filters */
.filters label {
  font-weight: bold;
  margin-right: 5px;
}

.filters select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid lightgray;
  margin-right: 15px;
}


/* --------------------------------------------------
   COURSES TABLE
-------------------------------------------------- */
.course-list{
  background-color: white;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Headers */
.course-list th {
  background-color: rgb(2, 0, 145);
  color: white;
  padding: 10px;
  border: 2px solid gray;
  text-align: left;
  font-weight: bold;
}

/* Cells */
.course-list td {
  border: 2px solid gray;
  padding: 10px;
}


/* --------------------------------------------------
   FOOTER
-------------------------------------------------- */
.footer {
  grid-area: footer;
  background-color: rgb(0, 0, 0);
  color: white;
  border-top: 3px solid black;
  text-align: center;
  padding: 20px;
  
}

.footer a{
  margin:0 30px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.footer a:hover {
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 6px;
}

/* 

STUDENT HUB STYLE VERSION 1.0.1

AUTHORS: 
@Sam & @Habib 
"Functional, we will tune later."

*** IMPORTANT NOTES ****
- AI help us to draft, code and organize CSS. 
- CSS Box-Sizing is based on GRID BOX.
- No images are plan to be load or stored to get 
best perfromance.

*/